.hobbies {
    width: 100%;
    margin: 0 0 50px 0;

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            p {
                display: none;
                position: absolute;
                top: 10px;
                background-color: $black;
                color: #f1f1f1;
                padding: 10px 20px;
                border-radius: 10px;
            }

            img {
                width: 80px;
                margin: 0 50px;
                padding: 10px;
                border: 3px solid $black;
                border-radius: 50%;
            }
        }
    }
}