@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../img_cursor/black_cursor.cur"), auto;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 247);
  font-family: "Ubuntu", sans-serif;
  color: #221f1f;
  cursor: url("../img_cursor/black_cursor.cur"), default;
}

a {
  text-decoration: none;
  color: #221f1f;
  cursor: url("../img_cursor/black_cursor.cur"), pointer;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
}

.title {
  font-size: 2.7rem;
  margin: 0 0 100px 0;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.container .c_name {
  text-align: left;
}

.btn {
  position: relative;
  font-size: 20px;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #221f1f;
  bottom: 0;
  left: 0;
}

.btn-center::after {
  transform: scale(0, 1);
}
.btn-center:hover::after {
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}

.copy {
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.header {
  width: 100%;
  height: 100vh;
}
.header .menu {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 380px) {
  .header .menu {
    margin: 0;
  }
}
.header .menu h1 {
  margin: 0 60px;
  font-size: 46px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 380px) {
  .header .menu h1 {
    margin: 20px 0 0 0;
    font-size: 35px;
  }
}
.header .menu h1 span {
  font-size: 20px;
  font-weight: 200;
}
.header .menu .header_menu {
  margin: 0 80px;
  display: flex;
  font-size: 18px;
}
.header .menu .header_menu li {
  margin: 0 20px;
}
@media (max-width: 1150px) {
  .header .menu .header_menu {
    margin: 0 10px;
  }
}
@media (max-width: 1030px) {
  .header .menu .header_menu {
    margin: 0;
  }
}
@media (max-width: 1010px) {
  .header .menu .header_menu {
    display: none;
  }
}
.header .menu .menu_wrap {
  display: none;
  position: fixed;
  top: 40px;
  right: 100px;
  z-index: 1;
}
@media (max-width: 380px) {
  .header .menu .menu_wrap {
    top: 20px;
    right: 120px;
  }
}
.header .menu .menu_wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.header .menu .menu_wrap .toggler:checked + .hamburger div {
  transform: rotate(135deg);
}
.header .menu .menu_wrap .toggler:checked + .hamburger div::before, .header .menu .menu_wrap .toggler:checked + .hamburger div::after {
  top: 0;
  transform: rotate(90deg);
}
.header .menu .menu_wrap .toggler:checked ~ .menu-hb {
  visibility: visible;
}
.header .menu .menu_wrap .toggler:checked ~ .menu-hb div {
  transform: scale(1);
  transition-duration: 500ms;
}
.header .menu .menu_wrap .toggler:checked ~ .menu-hb div div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.header .menu .menu_wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #570088;
  border: 3px solid #221f1f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .menu .menu_wrap .hamburger div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.header .menu .menu_wrap .hamburger div::before, .header .menu .menu_wrap .hamburger div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.header .menu .menu_wrap .hamburger div::after {
  top: 10px;
}
.header .menu .menu_wrap .menu-hb {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .menu .menu_wrap .menu-hb div {
  background: orange;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.header .menu .menu_wrap .menu-hb div div {
  text-align: center;
  width: 90vh;
  height: 200vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.header .menu .menu_wrap .menu-hb div div ul li {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}
.header .menu .menu_wrap .menu-hb div div ul li a {
  color: white;
  transition: color 0.4s ease;
}
@media (max-width: 1010px) {
  .header .menu .menu_wrap {
    display: block;
  }
}
.header .menu_2 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 2000px) {
  .header .menu_2 {
    height: 700px;
  }
}
@media (max-width: 1500px) {
  .header .menu_2 {
    height: 500px;
  }
}
@media (max-width: 1170px) {
  .header .menu_2 {
    height: 450px;
  }
}
@media (max-width: 380px) {
  .header .menu_2 {
    height: 750px;
  }
}
.header .menu_2 h1 {
  font-size: 3.3rem;
  margin-bottom: 1.7rem;
}
@media (max-width: 380px) {
  .header .menu_2 h1 {
    font-size: 2rem;
  }
}
.header .menu_2 button {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 20px;
}
.header .menu_2 button span {
  display: block;
  position: absolute;
  background: black;
}
.header .menu_2 button span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.header .menu_2 button span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.header .menu_2 button span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.header .menu_2 button span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.header .menu_2 button:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.header .menu_2 button:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}
.header .menu_2 button:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.header .menu_2 button:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.presentation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.presentation .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 940px) {
  .presentation .container {
    flex-direction: column;
  }
}
.presentation .container img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}
@media (max-width: 940px) {
  .presentation .container img {
    width: 200px;
  }
}
.presentation .container p {
  width: 600px;
  height: auto;
  font-size: 20px;
}
@media (max-width: 940px) {
  .presentation .container p {
    text-align: center;
  }
}

.competence {
  width: 100%;
  margin: 150px 0;
}
.competence .container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.competence .container .col {
  width: 50%;
  margin: 20px 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.competence .container .col .progress {
  margin: 0 0 50px 0;
  padding: 2px;
  width: 100%;
  max-width: 500px;
  border: 3px solid black;
  height: 20px;
}
.competence .container .col .progress .frontend {
  height: 100%;
  width: 90%;
  background-color: #0b3d5e;
  animation: front-fill-bar 3s ease-in-out;
}
.competence .container .col .progress .backend {
  height: 100%;
  width: 50%;
  background-color: #0b3d5e;
  animation: back-fill-bar 3s ease-in-out;
}
.competence .container .col .progress .software {
  height: 100%;
  width: 80%;
  background-color: #0b3d5e;
  animation: soft-fill-bar 3s ease-in-out;
}
.competence .container .col {
  width: 50%;
  margin: 20px 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.competence .container .col .progress {
  margin: 0 0 50px 0;
  padding: 2px;
  width: 100%;
  max-width: 500px;
  border: 3px solid black;
  height: 20px;
}
.competence .container .col .progress .frame_fp {
  height: 100%;
  width: 60%;
  background-color: #0b3d5e;
  animation: frame-front-fill-bar 3s ease-in-out;
}
.competence .container .col .progress .frame_bp {
  height: 100%;
  width: 50%;
  background-color: #0b3d5e;
  animation: frame-back-fill-bar 3s ease-in-out;
}
.competence .container .col .progress .cmd {
  height: 100%;
  width: 90%;
  background-color: #0b3d5e;
  animation: cmd-fill-bar 3s ease-in-out;
}
@keyframes front-fill-bar {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes back-fill-bar {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes soft-fill-bar {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
@keyframes frame-front-fill-bar {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@keyframes frame-back-fill-bar {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes cmd-fill-bar {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

.hobbies {
  width: 100%;
  margin: 0 0 50px 0;
}
.hobbies .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hobbies .container .content {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.hobbies .container .content p {
  display: none;
  position: absolute;
  top: 10px;
  background-color: #221f1f;
  color: #f1f1f1;
  padding: 10px 20px;
  border-radius: 10px;
}
.hobbies .container .content img {
  width: 80px;
  margin: 0 50px;
  padding: 10px;
  border: 3px solid #221f1f;
  border-radius: 50%;
}

.cv_lettre div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv_lettre div p {
  margin: 0 50px 100px 0;
  color: rgb(117, 117, 238);
  font-size: 40px;
}

.footer {
  width: 100%;
  background-color: #221f1f;
}
.footer .title {
  color: white;
}
.footer .container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 600px) {
  .footer .container-footer {
    flex-direction: column;
  }
}
.footer .container-footer .des-footer {
  color: white;
  margin: 0 0 0 80px;
  font-size: 20px;
}
@media (max-width: 2000px) {
  .footer .container-footer .des-footer {
    margin: 0 0 0 50px;
    width: 500em;
  }
}
@media (max-width: 1300px) {
  .footer .container-footer .des-footer {
    width: 100%;
    margin: 0 20px;
  }
}
@media (max-width: 600px) {
  .footer .container-footer .des-footer {
    text-align: center;
    padding: 0 10px;
  }
}
.footer .container-footer .container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.footer .container-footer .container .content {
  width: 350px;
  background-color: white;
  border-radius: 10px;
  margin: 20px 80px 20px 0;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 2000px) {
  .footer .container-footer .container .content {
    margin: 0 50px 0 0;
  }
}
@media (max-width: 800px) {
  .footer .container-footer .container .content {
    width: 300px;
    margin: 0 10px 0 0;
  }
}
@media (max-width: 600px) {
  .footer .container-footer .container .content {
    flex-direction: row;
    width: 100%;
    margin: 40px 20px;
  }
}
.footer .container-footer .container .content .network {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container-footer .container .content .network p {
  width: 50%;
  margin: 30px 0;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 600px) {
  .footer .container-footer .container .content .network p {
    display: none;
  }
}
.footer .container-footer .container .content .network img {
  width: 40px;
  margin: 0 5px;
}/*# sourceMappingURL=main.css.map */